<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationTestSuite">
<listeners>
	<listener class-name="com.KredSafe.CustomListener.Listener"></listener>
</listeners>
  <test name="Regression Test">
	<classes>
	<class name="TestSuite.TC17_VerifyRecentActivity"/>
	<class name="TestSuite.TC15_VerifyProfilefromSectionstobecompleted"/>
	<class name="TestSuite.TC16_LoginLogout"/>
		
	</classes>
  </test> <!-- Test -->
</suite> <!-- AutomationSuite -->